mixin footer(options)

    footer.footer.pt-10.pb-5.mt-auto(class=options.footerBg, class=options.footerStyle)

        if block
            block
        else
            .container
                .row
                    .col-lg-3
                        .footer-brand
                            | scrutiny.app
                        .icon-list-social.mb-5
                            a.icon-list-social-link(href='https://www.youtube.com/channel/UCkygEQqmscE1rY6OqK4UB0w')
                                i.fab.fa-youtube
                            a.icon-list-social-link(href='https://www.facebook.com/Scrutinyapp')
                                i.fab.fa-facebook
                            a.icon-list-social-link(href='https://medium.com/@scrutinyapp')
                                i.fab.fa-medium
                            a.icon-list-social-link(href='https://twitter.com/Scrutiny_app')
                                i.fab.fa-twitter

                    .col-lg-9
                        .row
                            .col-lg-3.col-md-6.mb-5.mb-lg-0
                                .text-uppercase-expanded.text-xs.mb-4 Product
                                ul.list-unstyled.mb-0
                                    li.mb-2
                                        a(href='index.html') Smartphone
                                    li.mb-2
                                        a(href='https://web.scrutiny.app/') Web
                                    li.mb-2
                                        a(data-toggle="tooltip" data-placement="top" title="Coming soon") Premium
                                    li.mb-2
                                        a(data-toggle="tooltip" data-placement="top" title="Coming soon") Enterprise solutions

                            .col-lg-3.col-md-6.mb-5.mb-lg-0
                                .text-uppercase-expanded.text-xs.mb-4 About
                                ul.list-unstyled.mb-0
                                    li.mb-2
                                        //- a(href='page-company-about.html') About us
                                        a(data-toggle="tooltip" data-placement="top" title="Coming soon") About us
                                    li.mb-2
                                        a(href='page-company-team.html') Team
                                    li.mb-2
                                        a(href='page-company-contact.html') Contact
                            
                            .col-lg-3.col-md-6.mb-5.mb-lg-0
                                .text-uppercase-expanded.text-xs.mb-4 Connect
                                ul.list-unstyled.mb-0
                                    li.mb-2
                                        //- a(href='page-blog-overview.html') Blog
                                        a(data-toggle="tooltip" data-placement="top" title="Coming soon") Blog
                                    li.mb-2
                                        //- a(href='page-blog-archive.html') News
                                        a(data-toggle="tooltip" data-placement="top" title="Coming soon") News
                                    

                            
                            .col-lg-3.col-md-6
                                .text-uppercase-expanded.text-xs.mb-4 Legal
                                ul.list-unstyled.mb-0
                                    li.mb-2
                                        a(href='page-company-privacy.html') Privacy Policy
                                    li.mb-2
                                        a(href='page-company-terms.html')  Terms and Conditions

                                
                hr.my-5

                .row.align-items-center

                    .col-md-6.small
                        | Copyright &copy; scrutiny.app, 2021
                    .col-md-6.text-md-right.small
                        a(href='page-company-privacy.html') Privacy Policy
                        | 
                        | &middot;
                        | 
                        a(href='page-company-terms.html') Terms &amp; Conditions
