extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'About'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-primary',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-white',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-primary',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .page-header-content.pt-10
            .container.text-center
                .row.justify-content-center
                    .col-lg-8
                        h1.page-header-title.mb-3 About

    //- * * * * * * * * * * *
    //- * * Text Section  * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.justify-content-center
                .col-lg-10

                    h2.mb-4 My Journey with Scrutiny
                    p Scrutiny was a research facilitation platform I built from scratch to help academics and professionals streamline how they find and organise information. Over time, it grew to serve more than 400 daily users across global universities, research organisations, and companies.                     
                    p The platform was shaped directly through conversations with academics while I was completing my own PhD: I conducted 50+ structured interviews and iterated on features based on their feedback. I also explored fundraising opportunities, pitching the product to a number of early-stage investors.  
                    p While Scrutiny never ultimatley became a commercial venture, it was one of the most valuable projects I’ve worked on. It gave me hands-on experience across the entire product lifecycle, from design and coding, to user research, onboarding, and investor engagement. Most importantly, it proved to me that I love building products, that I can take an idea from concept through to a working solution and get in the hands of real users.  
                    p I no longer actively work on the project, but have chosen to leave it running in the hope that others might continue to find it useful, or perhaps even draw inspiration for their own work.
                    .card.bg-light.shadow-none
                        .card-body
                                p.mb-0 If you’d like to talk more about Scrutiny or my experience building it, feel free to reach out: 
                                    a(href="mailto:marc@scrutiny.app") marc@scrutiny.app

                    //- h4.mb-4
                    //-     .icon-stack.bg-primary.text-white.mr-2
                    //-         i(data-feather='arrow-right')
                    //-     | This is what we do
                    //- p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, eos quisquam expedita quo officiis porro provident laborum. Earum, consequatur provident, ipsam at excepturi rerum laborum aliquam facere molestias mollitia recusandae.
                    //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ipsam? Perspiciatis sunt voluptatum officia non harum, dolores omnis fugiat nam ad optio cumque molestiae impedit dignissimos velit commodi aliquid iure?
                    //- p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem sapiente natus architecto aut porro! Vitae iusto praesentium recusandae debitis, cumque illum amet suscipit rem pariatur, magni iure laborum inventore in!

                   

                    //- hr.my-5

                    //- h4.mb-4
                    //-     .icon-stack.bg-primary.text-white.mr-2
                    //-         i(data-feather='arrow-right')
                    //-     | Move with urgency and focus
                    //- p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem suscipit veniam excepturi soluta ducimus tempora quasi, itaque odit libero, eos in dolore natus, ipsam consectetur voluptate nulla provident aliquam?
                    //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laboriosam consequuntur iusto vero consequatur beatae, tempore voluptatem rerum sit facilis aut ea optio eaque quaerat, libero recusandae soluta molestiae veniam.
                    //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, ut! Ut ipsum debitis numquam. Perferendis, laudantium! Itaque ab velit eaque magnam quis quam libero saepe nobis culpa. Vitae, dignissimos iusto.

                    //- .card.bg-light.shadow-none
                    //-     .card-body
                    //-         h6 Questions you should ask yourself
                    //-         ul.mb-0
                    //-             li.text-italic Lorem ipsum dolor sit amet, consectetur adipisicing elit?
                    //-             li.text-italic Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas nobis illum nam?

                    //- hr.my-5

                    //- h4 Feedback
                    //- p.lead.
                    //-     In the spirit of thinking rigorously, we’d love your open and honest feedback on this guide. <a href='page-company-contact.html'>Let us know what you think</a>.
                    //- p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum culpa optio nihil id distinctio excepturi dignissimos, iure totam minima, natus ducimus.

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })